
@{
    ViewData["Title"] = "SubmissionFailed";
}

<h1>Submission Failed</h1>

<p>We applogize! adding the kid did not succeed. Please <a href="~/kids/Create"> try again</a>. If this keep happening, please contact administrator</p>

