@model OliveKids.Models.Summary
@using OliveKids.Models
@{
    var totalKids = ViewBag.TotalKids;
    var sponsoredKids = ViewBag.SponsoredKids;
}
<h3 class="text-center">Kids Sponsorship</h3>
<hr />
<div class="card-group col-12">
    <div class="container highlights-item card-header col-md-4 text-center card card-margin-right">
        <a asp-controller="Kids" asp-action="Sponsored">
            <div> Sponsored Kids</div>
            <div class="font-weight-bold">@Model.SponsoredKids</div>
        </a>
    </div>
    <div class="container card-header highlights-item col-md-4 text-center card card-margin-right">
        <a asp-controller="Kids" asp-action="Available">
            <div> Available Kids</div>
            <div class="font-weight-bold">@Model.AvailableKids</div>
        </a>
    </div>
    <div class="container card-header highlights-item col-md-4 text-center card">
        <a asp-controller="Kids" asp-action="Total">
            <div> Total Kids</div>
            <div class="font-weight-bold">@Model.TotalKids</div>
        </a>
    </div>
</div>
<div class="text-center home-img-footer">
    <img class="img-fluid" src="~/images/olivekids.png" />
</div>
