@model OliveKids.Models.Summary
@using OliveKids.Models
@{
    var totalKids = ViewBag.TotalKids;
    var sponsoredKids = ViewBag.SponsoredKids;
}
<h3 class="text-center">Child Sponsorship Program</h3>
<hr/>
<div class="card-group col-12">
    <div class="container highlights-item card-header col-md-4 text-center card card-margin-right">
        <div> Sponsored Kids</div>
        <div class="font-weight-bold">@Model.SponsoredKids</div>
    </div>
    <div class="container card-header highlights-item col-md-4 text-center card card-margin-right">
        <div> Available Kids</div>
        <div class="font-weight-bold">@Model.AvailableKids</div>
    </div>
    <div class="container card-header highlights-item col-md-4 text-center card">
        <div> Total Kids</div>
        <div class="font-weight-bold">@Model.TotalKids</div>
    </div>
    </div>
    <div class="text-center home-img-footer">
        <img class="img-fluid" src="~/images/olivekids.png" />
    </div>
