@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .container .header-client {
        width: 750px;
    }
}

@media (max-width: 992px) {
    img {
        height: 100px;
    }
}


.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


.card-header {
    margin-bottom: 20px;
}

    .card-header a {
        color: inherit;
        text-decoration: inherit;
    }

arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

a.highlights-item {
    display: block;
    transition: all 0.5s cubic-bezier(0.02, 0.69, 0.14, 1);
}

.card-margin-right{ margin-right: 15px;
}

.card { border: hidden;}
.highlights-item:hover {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.1), 0 12px 17px 2px rgba(0, 0, 0, 0.08), 0 5px 22px 4px rgba(0, 0, 0, 0.06);
}

.card-group {
    margin-top: 20px;
}

.home-img-footer {
    margin-top: 20px;
}

body {
    padding-top: 5rem;
}

.first-group,
.second-group {
    padding: 20px;
}

#summary {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#button {
    display: block;
}
.second-group {
    background-color: rgba(191, 191, 191, 0.15);
}

.form-avatar {
    height: 128px;
    width: 128px;
    margin-right: 10px;
    border: 1px solid #d2d3d5;
    border-radius: 50%;
    background-image: url('../images/olivekids.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#employeeInfo .employeePhoto {
    height: 100px;
    float: left;
    padding: 20px;
}

#employeeInfo .employeeNotes {
    padding-top: 20px;
    text-align: justify;
}

.dark #employeeInfo .employeeNotes {
    color: rgb(181, 181, 181);
}

#fileuploader-container {
    border: 1px solid #d3d3d3;
    margin: 20px 20px 0 20px;
}

#form h3 {
    margin-left: 20px;
    font-weight: normal;
    font-size: 22px;
}

#gauge {
    height: 440px;
    width: 100%;
}

.acknowledgement
{
    font-size: 8px;
    font-family: Arial;
    font-weight: bold;
}

.img,
.name {
    display: inline-block;
    vertical-align: middle;
}

.img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 25px;
    border: 1px solid lightgray;
    background-color: #fff;
}